extends layout

block content
  h1= title
  p Welcome to #{title}'s backend
  h2 ENDPOINTS

  h3 #{base_url}/api/manga/getpages
  p Returns a object containing an array containing the mangapages in order.
  h4 Example Return
  p {manga_title: "Martial Master", manga_pages: ["https://cm.blazefast.co/7e/70/7e7009e9cc91fda4902b4aee9c71100c.jpg", ...], chapter_number: 1}
